examples/NodeRed - SemilimesConnectorFlows.json
[{"id":"6eb0ad0a.2c5a74","type":"tab","label":"Semilimes Connector - no token","disabled":false,"info":""},{"id":"57f1b62e.f93ec8","type":"comment","z":"6eb0ad0a.2c5a74","name":"select","info":"","x":870,"y":300,"wires":[]},{"id":"742589ea.6375f","type":"json","z":"6eb0ad0a.2c5a74","name":"","property":"Body","action":"","pretty":false,"x":450,"y":980,"wires":[["8515afed.3ca62"]]},{"id":"2688592d.7527be","type":"comment","z":"6eb0ad0a.2c5a74","name":"Received msg","info":"","x":890,"y":980,"wires":[]},{"id":"8515afed.3ca62","type":"debug","z":"6eb0ad0a.2c5a74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":980,"wires":[]},{"id":"d3adac22.786398","type":"inject","z":"6eb0ad0a.2c5a74","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":440,"y":180,"wires":[["d7559a8c.803de"]]},{"id":"459794a4.f725ac","type":"comment","z":"6eb0ad0a.2c5a74","name":"Send MSG","info":"","x":880,"y":180,"wires":[]},{"id":"60e5881f.4fc6b","type":"comment","z":"6eb0ad0a.2c5a74","name":"Semilimes connect with Connector","info":"","x":640,"y":60,"wires":[]},{"id":"ccb0a2b2.4b7b4","type":"inject","z":"6eb0ad0a.2c5a74","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Send Location","payloadType":"str","x":440,"y":440,"wires":[["888dd1ca.3a23f"]]},{"id":"888dd1ca.3a23f","type":"Send Location","z":"6eb0ad0a.2c5a74","name":"Send Location","token":"","receiver":"","latitude":"44.409791","longitude":"8.918694","server":"7af8afce.91ad98","x":680,"y":440,"wires":[]},{"id":"5395032c.d892ac","type":"Receive msg","z":"6eb0ad0a.2c5a74","name":"Receive msg","server":"7af8afce.91ad98","client":"","x":250,"y":980,"wires":[["742589ea.6375f"]]},{"id":"c18e66a7.3335d8","type":"comment","z":"6eb0ad0a.2c5a74","name":"Send location Genova","info":"","x":920,"y":440,"wires":[]},{"id":"58aefd7b.97f0fc","type":"inject","z":"6eb0ad0a.2c5a74","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":190,"y":500,"wires":[["82effa80.31453"]]},{"id":"f3470b69.b18828","type":"Send Location","z":"6eb0ad0a.2c5a74","name":"Send Location","token":"","receiver":"","latitude":"","longitude":"","server":"7af8afce.91ad98","x":680,"y":500,"wires":[]},{"id":"dd49e321.886538","type":"comment","z":"6eb0ad0a.2c5a74","name":"Send location Genova","info":"","x":920,"y":500,"wires":[]},{"id":"82effa80.31453","type":"function","z":"6eb0ad0a.2c5a74","name":"send location Genova","func":"msg.payload = {\n    \"Location\": {\"latitude\":44.409791,\"longitude\":8.918694},\n    \"Body\" : \"Send Location JSON\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":500,"wires":[["f3470b69.b18828"]]},{"id":"11432eb3.56fe59","type":"inject","z":"6eb0ad0a.2c5a74","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":190,"y":560,"wires":[["12afb55b.5ad583"]]},{"id":"504be070.e6809","type":"Send Location","z":"6eb0ad0a.2c5a74","name":"Send Location","token":"","receiver":"","latitude":"","longitude":"","server":"7af8afce.91ad98","x":680,"y":560,"wires":[]},{"id":"a94725c5.ef87c8","type":"comment","z":"6eb0ad0a.2c5a74","name":"Send location VIetnam","info":"","x":920,"y":560,"wires":[]},{"id":"12afb55b.5ad583","type":"function","z":"6eb0ad0a.2c5a74","name":"send location Ho Chi Minh","func":"msg.payload = {\n    \"Location\": {\"latitude\":10.753484623471962,\"longitude\":106.66112190403923},\n    \"Body\" : \"Send Location JSON - Vietnam\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":560,"wires":[["504be070.e6809"]]},{"id":"e3cd660f.f38d1","type":"comment","z":"6eb0ad0a.2c5a74","name":"Send HTML","info":"","x":890,"y":640,"wires":[]},{"id":"32eed95d.a01906","type":"Send HTML","z":"6eb0ad0a.2c5a74","name":"Send HTML","token":"","receiver":"","server":"7af8afce.91ad98","x":670,"y":640,"wires":[]},{"id":"6c4b69aa.e2dce","type":"Date Picker","z":"6eb0ad0a.2c5a74","name":"Date Picker","token":"","receiver":"","server":"7af8afce.91ad98","x":670,"y":720,"wires":[]},{"id":"8f5440c5.14f89","type":"comment","z":"6eb0ad0a.2c5a74","name":"Date Picker","info":"","x":890,"y":720,"wires":[]},{"id":"70a1e10b.84545","type":"comment","z":"6eb0ad0a.2c5a74","name":"Time Picker","info":"","x":890,"y":800,"wires":[]},{"id":"c4438326.6e32a8","type":"Time Picker","z":"6eb0ad0a.2c5a74","name":"Time Picker","token":"","receiver":"","server":"7af8afce.91ad98","x":670,"y":800,"wires":[]},{"id":"d7559a8c.803de","type":"Send msg","z":"6eb0ad0a.2c5a74","name":"Send msg","token":"","receiver":"","server":"7af8afce.91ad98","x":690,"y":180,"wires":[]},{"id":"692901c.7ae0c","type":"comment","z":"6eb0ad0a.2c5a74","name":"Location Picker","info":"","x":900,"y":880,"wires":[]},{"id":"734c019b.17ea7","type":"Location Picker","z":"6eb0ad0a.2c5a74","name":"Location Picker","token":"","receiver":"","server":"7af8afce.91ad98","x":680,"y":880,"wires":[]},{"id":"5a476765.845738","type":"comment","z":"6eb0ad0a.2c5a74","name":"select","info":"","x":870,"y":360,"wires":[]},{"id":"55a9b779.9ef508","type":"Select","z":"6eb0ad0a.2c5a74","name":"Option Select","token":"","receiver":"","choice1":"choise1","choice2":"choise2","choice3":"choise3","choice4":"choise4","choice5":"choise5","choice6":"choise6","server":"7af8afce.91ad98","x":680,"y":360,"wires":[]},{"id":"a4c40121.7ed4d8","type":"function","z":"6eb0ad0a.2c5a74","name":"send selection buttons","func":"msg.payload = {\n    \"Body\": \"Select Node - JSON No Options\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":360,"wires":[["55a9b779.9ef508"]]},{"id":"a3ecb545.5bfeb8","type":"inject","z":"6eb0ad0a.2c5a74","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":160,"y":360,"wires":[["a4c40121.7ed4d8"]]},{"id":"af0da06e.451e78","type":"inject","z":"6eb0ad0a.2c5a74","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":170,"y":300,"wires":[["3e2ddca0.4b1d6c"]]},{"id":"3e2ddca0.4b1d6c","type":"function","z":"6eb0ad0a.2c5a74","name":"send selection buttons","func":"msg.payload = {\n    \"Body\": \"Select Node With JSON\",\n    \"Options\": [\n        {\"Text\": \"choise 1\", \"Value\": \"1\"},\n        {\"Text\": \"choise 2\", \"Value\": \"2\"},\n        {\"Text\": \"choise 3\", \"Value\": \"3\"}\n    ]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":300,"wires":[["d90be0c0.dc4e1"]]},{"id":"d90be0c0.dc4e1","type":"Select","z":"6eb0ad0a.2c5a74","name":"Option Select","token":"","receiver":"","choice1":"choise1","choice2":"choise2","choice3":"choise3","choice4":"choise4","choice5":"choise5","choice6":"choise6","server":"7af8afce.91ad98","x":680,"y":300,"wires":[]},{"id":"6a65e4da.2f94cc","type":"comment","z":"6eb0ad0a.2c5a74","name":"select","info":"","x":870,"y":240,"wires":[]},{"id":"f2ec1772.f24fd","type":"inject","z":"6eb0ad0a.2c5a74","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Select Node Name","payloadType":"str","x":350,"y":240,"wires":[["5db26f0.043fe1"]]},{"id":"5db26f0.043fe1","type":"Select","z":"6eb0ad0a.2c5a74","name":"Option Select","token":"","receiver":"","choice1":"choise1","choice2":"choise2","choice3":"choise3","choice4":"choise4","choice5":"choise5","choice6":"choise6","server":"7af8afce.91ad98","x":680,"y":240,"wires":[]},{"id":"5ab3b4a2.9bac3c","type":"Send JSON","z":"6eb0ad0a.2c5a74","name":"Send JSON","token":"","receiver":"","server":"7af8afce.91ad98","x":690,"y":120,"wires":[]},{"id":"ced03589.962228","type":"comment","z":"6eb0ad0a.2c5a74","name":"Send JSON","info":"","x":890,"y":120,"wires":[]},{"id":"c7533b7f.af796","type":"inject","z":"6eb0ad0a.2c5a74","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":190,"y":120,"wires":[["b5704e2b.49e3d8"]]},{"id":"b5704e2b.49e3d8","type":"function","z":"6eb0ad0a.2c5a74","name":"send HTML ","func":"msg.payload = {\n    \"AuthToken\": \"xxxxxxxxxx\",\n    \"ReceiverID\": \"xxxxxxxxxx\",\n    \"Type\": \"chat\",\n    \"TypeID\": \"38199F47-504C-4C73-97E5-8076C8CFAA21\",\n    \"Body\" : \"<html> \\\n    <body> \\\n    <h1>My First Heading</h1> \\\n    <p>My first paragraph.</p> \\\n    </body> \\\n    </html>\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":120,"wires":[["5ab3b4a2.9bac3c"]]},{"id":"3291dc6b.627f24","type":"inject","z":"6eb0ad0a.2c5a74","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":230,"y":640,"wires":[["ea1e80e8.06394"]]},{"id":"ea1e80e8.06394","type":"function","z":"6eb0ad0a.2c5a74","name":"send HTML","func":"msg.payload = {\n    \"Body\" : \"<html> \\\n    <body> \\\n    <h1>My First Heading</h1> \\\n    <h2>My Second Heading</h2> \\\n    <p>My first paragraph.</p> \\\n    </body> \\\n    </html>\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":640,"wires":[["32eed95d.a01906"]]},{"id":"ed9a0a7e.1bb6c8","type":"inject","z":"6eb0ad0a.2c5a74","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Pick a Location","payloadType":"str","x":360,"y":880,"wires":[["734c019b.17ea7"]]},{"id":"74404589.2459d4","type":"inject","z":"6eb0ad0a.2c5a74","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Pick a Time","payloadType":"str","x":350,"y":800,"wires":[["c4438326.6e32a8"]]},{"id":"c60dd78e.12fc","type":"inject","z":"6eb0ad0a.2c5a74","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Pick a Date","payloadType":"str","x":350,"y":720,"wires":[["6c4b69aa.e2dce"]]},{"id":"7af8afce.91ad98","type":"semilimes-listener","path":"wss://cloud.semilimes.net/CloudServer/wsclient","wholemsg":"false"}]