examples/NodeRed - SemilimesConnectorFlows.json
[{"id":"8998c840.14c2","type":"tab","label":"Semilimes Connector - no token","disabled":false,"info":""},{"id":"98a8f735.d249","type":"comment","z":"8998c840.14c2","name":"select","info":"","x":870,"y":300,"wires":[]},{"id":"dbf91670.0337f8","type":"json","z":"8998c840.14c2","name":"","property":"Body","action":"","pretty":false,"x":450,"y":980,"wires":[["3a80ecb1.9b75bc","c1a4ff76.f77ee","869994d3.eae698","987ea2c8.829ba8"]]},{"id":"dea1c42c.cbb948","type":"comment","z":"8998c840.14c2","name":"Received msg","info":"","x":890,"y":980,"wires":[]},{"id":"3a80ecb1.9b75bc","type":"debug","z":"8998c840.14c2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":980,"wires":[]},{"id":"b40f7dd8.55ab98","type":"inject","z":"8998c840.14c2","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":440,"y":180,"wires":[["1053aaef.853745"]]},{"id":"13888fca.1f28a","type":"comment","z":"8998c840.14c2","name":"Send MSG","info":"","x":880,"y":180,"wires":[]},{"id":"4d982f9a.cb75b","type":"comment","z":"8998c840.14c2","name":"Semilimes connect with Connector","info":"","x":640,"y":60,"wires":[]},{"id":"2cf27b8c.8c3004","type":"inject","z":"8998c840.14c2","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Send Location","payloadType":"str","x":440,"y":440,"wires":[["e9b8720b.3bac5"]]},{"id":"e9b8720b.3bac5","type":"Send Location","z":"8998c840.14c2","name":"Send Location","token":"","receiver":"","latitude":"44.409791","longitude":"8.918694","server":"c3ca2812.fceeb8","x":680,"y":440,"wires":[]},{"id":"f680806d.9294b","type":"Receive msg","z":"8998c840.14c2","name":"Receive msg","server":"c3ca2812.fceeb8","client":"","x":250,"y":980,"wires":[["dbf91670.0337f8"]]},{"id":"148fd9cb.d58a0e","type":"comment","z":"8998c840.14c2","name":"Send location Genova","info":"","x":920,"y":440,"wires":[]},{"id":"c22abaca.8c378","type":"inject","z":"8998c840.14c2","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":190,"y":500,"wires":[["40a12f2.fe4f2d"]]},{"id":"45f3c23d.c5bafc","type":"Send Location","z":"8998c840.14c2","name":"Send Location","token":"","receiver":"","latitude":"","longitude":"","server":"c3ca2812.fceeb8","x":680,"y":500,"wires":[]},{"id":"6c6f4f93.6a14a8","type":"comment","z":"8998c840.14c2","name":"Send location Genova","info":"","x":920,"y":500,"wires":[]},{"id":"40a12f2.fe4f2d","type":"function","z":"8998c840.14c2","name":"send location Genova","func":"msg.payload = {\n    \"Location\": {\"latitude\":44.409791,\"longitude\":8.918694},\n    \"Body\" : \"Send Location JSON\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":500,"wires":[["45f3c23d.c5bafc"]]},{"id":"c3487237.56bef","type":"inject","z":"8998c840.14c2","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":190,"y":560,"wires":[["f57d8686.15c79"]]},{"id":"3d1168ba.678048","type":"Send Location","z":"8998c840.14c2","name":"Send Location","token":"","receiver":"","latitude":"","longitude":"","server":"c3ca2812.fceeb8","x":680,"y":560,"wires":[]},{"id":"567ce232.30bd2c","type":"comment","z":"8998c840.14c2","name":"Send location VIetnam","info":"","x":920,"y":560,"wires":[]},{"id":"f57d8686.15c79","type":"function","z":"8998c840.14c2","name":"send location Ho Chi Minh","func":"msg.payload = {\n    \"Location\": {\"latitude\":10.753484623471962,\"longitude\":106.66112190403923},\n    \"Body\" : \"Send Location JSON - Vietnam\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":560,"wires":[["3d1168ba.678048"]]},{"id":"78509f46.0ec84","type":"comment","z":"8998c840.14c2","name":"Send HTML","info":"","x":890,"y":640,"wires":[]},{"id":"41e7bfef.26b7f","type":"Send HTML","z":"8998c840.14c2","name":"Send HTML","token":"","receiver":"","server":"c3ca2812.fceeb8","x":670,"y":640,"wires":[]},{"id":"5d3c2d1f.8652a4","type":"comment","z":"8998c840.14c2","name":"Date Picker","info":"","x":890,"y":720,"wires":[]},{"id":"7b50a604.744248","type":"comment","z":"8998c840.14c2","name":"Time Picker","info":"","x":890,"y":800,"wires":[]},{"id":"1053aaef.853745","type":"Send msg","z":"8998c840.14c2","name":"Send msg","token":"","receiver":"","server":"c3ca2812.fceeb8","x":690,"y":180,"wires":[]},{"id":"f3446fe7.75f448","type":"comment","z":"8998c840.14c2","name":"Location Picker","info":"","x":900,"y":880,"wires":[]},{"id":"54dac2d4.1134ac","type":"comment","z":"8998c840.14c2","name":"select","info":"","x":870,"y":360,"wires":[]},{"id":"9aaba86a.5cc9b","type":"Select","z":"8998c840.14c2","name":"Option Select","token":"","receiver":"","choice1":"choise1","choice2":"choise2","choice3":"choise3","choice4":"choise4","choice5":"choise5","choice6":"choise6","server":"c3ca2812.fceeb8","x":680,"y":360,"wires":[]},{"id":"ae726888.5a5218","type":"function","z":"8998c840.14c2","name":"send selection buttons","func":"msg.payload = {\n    \"Body\": \"Select Node - JSON No Options\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":360,"wires":[["9aaba86a.5cc9b"]]},{"id":"495fc774.a5eef8","type":"inject","z":"8998c840.14c2","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":160,"y":360,"wires":[["ae726888.5a5218"]]},{"id":"5a15cd8a.6400bc","type":"inject","z":"8998c840.14c2","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":170,"y":300,"wires":[["44956394.4036a4"]]},{"id":"44956394.4036a4","type":"function","z":"8998c840.14c2","name":"send selection buttons","func":"msg.payload = {\n    \"Body\": \"Select Node With JSON\",\n    \"Options\": [\n        {\"Text\": \"choise 1\", \"Value\": \"1\"},\n        {\"Text\": \"choise 2\", \"Value\": \"2\"},\n        {\"Text\": \"choise 3\", \"Value\": \"3\"}\n    ]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":300,"wires":[["72c93631.ecc128"]]},{"id":"72c93631.ecc128","type":"Select","z":"8998c840.14c2","name":"Option Select","token":"","receiver":"","choice1":"choise1","choice2":"choise2","choice3":"choise3","choice4":"choise4","choice5":"choise5","choice6":"choise6","server":"c3ca2812.fceeb8","x":680,"y":300,"wires":[]},{"id":"5c8eb07d.1cec8","type":"comment","z":"8998c840.14c2","name":"select","info":"","x":870,"y":240,"wires":[]},{"id":"11fc69c6.65e6be","type":"inject","z":"8998c840.14c2","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Select Node Name","payloadType":"str","x":350,"y":240,"wires":[["57f2f8e4.69e048"]]},{"id":"57f2f8e4.69e048","type":"Select","z":"8998c840.14c2","name":"Option Select","token":"","receiver":"","choice1":"choise1","choice2":"choise2","choice3":"choise3","choice4":"choise4","choice5":"choise5","choice6":"choise6","server":"c3ca2812.fceeb8","x":680,"y":240,"wires":[]},{"id":"26774dd1.5b85aa","type":"Send JSON","z":"8998c840.14c2","name":"Send JSON","token":"","receiver":"","server":"c3ca2812.fceeb8","x":690,"y":120,"wires":[]},{"id":"7dfc2673.d4831","type":"comment","z":"8998c840.14c2","name":"Send JSON","info":"","x":890,"y":120,"wires":[]},{"id":"6ea37f06.890288","type":"inject","z":"8998c840.14c2","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":190,"y":120,"wires":[["19be10c7.2a5f67"]]},{"id":"19be10c7.2a5f67","type":"function","z":"8998c840.14c2","name":"send HTML ","func":"msg.payload = {\n    \"AuthToken\": \"xxxxxxxxxx\",\n    \"ReceiverID\": \"xxxxxxxxxx\",\n    \"Type\": \"chat\",\n    \"TypeID\": \"38199F47-504C-4C73-97E5-8076C8CFAA21\",\n    \"Body\" : \"<html> \\\n    <body> \\\n    <h1>My First Heading</h1> \\\n    <p>My first paragraph.</p> \\\n    </body> \\\n    </html>\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":120,"wires":[["26774dd1.5b85aa"]]},{"id":"29b7b35d.cb40a4","type":"inject","z":"8998c840.14c2","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":230,"y":640,"wires":[["b1f224e1.3c8888"]]},{"id":"b1f224e1.3c8888","type":"function","z":"8998c840.14c2","name":"send HTML","func":"msg.payload = {\n    \"Body\" : \"<html> \\\n    <body> \\\n    <h1>My First Heading</h1> \\\n    <h2>My Second Heading</h2> \\\n    <p>My first paragraph.</p> \\\n    </body> \\\n    </html>\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":640,"wires":[["41e7bfef.26b7f"]]},{"id":"5deaab24.00528c","type":"inject","z":"8998c840.14c2","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Pick a Location","payloadType":"str","x":360,"y":880,"wires":[["f5dc7142.3242e"]]},{"id":"fc1b3ed3.013ec8","type":"inject","z":"8998c840.14c2","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Pick a Time","payloadType":"str","x":350,"y":800,"wires":[["93193ce5.f537f8"]]},{"id":"532993e.682996c","type":"inject","z":"8998c840.14c2","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Pick a Date","payloadType":"str","x":350,"y":720,"wires":[["ee5c9b83.20c97"]]},{"id":"ee5c9b83.20c97","type":"Receive Date","z":"8998c840.14c2","name":"Receive Date","token":"Token","destination":"destination","receiver":"Receiver","x":640,"y":720,"wires":[]},{"id":"93193ce5.f537f8","type":"Receive Time","z":"8998c840.14c2","name":"Receive Time","token":"Token","destination":"destination","receiver":"Receiver","x":640,"y":800,"wires":[]},{"id":"f5dc7142.3242e","type":"Receive Location","z":"8998c840.14c2","name":"Receive Location","token":"Token","destination":"destination","receiver":"Receiver","server":"dc399f13.20275","x":650,"y":880,"wires":[]},{"id":"bc9f46fb.021b18","type":"debug","z":"8998c840.14c2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":1160,"wires":[]},{"id":"c1a4ff76.f77ee","type":"function","z":"8998c840.14c2","name":"Lamp 1","func":"var output;\nif(msg.payload.FormTitle == \"Lamp 1\" && msg.payload.Body == \"On\") output = {payload:1};\nif(msg.payload.FormTitle == \"Lamp 1\" && msg.payload.Body == \"Off\") output = {payload:0};\nreturn output;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":1160,"wires":[["bc9f46fb.021b18"]]},{"id":"869994d3.eae698","type":"switch","z":"8998c840.14c2","name":"Lamp 1","property":"payload.FormTitle","propertyType":"msg","rules":[{"t":"eq","v":"Lamp 1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":660,"y":1240,"wires":[["7c921a6.c3b54e4"]]},{"id":"7c921a6.c3b54e4","type":"switch","z":"8998c840.14c2","name":"","property":"payload.Body","propertyType":"msg","rules":[{"t":"eq","v":"On","vt":"str"},{"t":"eq","v":"Off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":1240,"wires":[["e99fe7f7.9d71a8"],["eda598dd.430998"]]},{"id":"e99fe7f7.9d71a8","type":"debug","z":"8998c840.14c2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":1200,"wires":[]},{"id":"eda598dd.430998","type":"debug","z":"8998c840.14c2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":1280,"wires":[]},{"id":"987ea2c8.829ba8","type":"switch","z":"8998c840.14c2","name":"Set House Temperature","property":"payload.FormTitle","propertyType":"msg","rules":[{"t":"eq","v":"Set House Temperature","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":1340,"wires":[["5c07a3d6.b97b5c"]]},{"id":"85ec7608.1a7368","type":"debug","z":"8998c840.14c2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":1340,"wires":[]},{"id":"5c07a3d6.b97b5c","type":"change","z":"8998c840.14c2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Body","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":1340,"wires":[["85ec7608.1a7368"]]},{"id":"c3ca2812.fceeb8","type":"semilimes-listener","path":"wss://cloud.semilimes.net/CloudServer/wsclient","wholemsg":"false"},{"id":"dc399f13.20275","type":"semilimes-listener","path":"wss://cloud.semilimes.net/CloudServer/wsclient","wholemsg":"false"}]