examples/SemilimesConnectorFlows.json
[{"id":"da346aa7.1b9d18","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"57f1b62e.f93ec8","type":"comment","z":"da346aa7.1b9d18","name":"select","info":"","x":870,"y":320,"wires":[]},{"id":"742589ea.6375f","type":"json","z":"da346aa7.1b9d18","name":"","property":"payload","action":"obj","pretty":false,"x":470,"y":1120,"wires":[["90b79c82.4f1658","eef62f9.f969dd","af874c08.3dd7a"]]},{"id":"d3adac22.786398","type":"inject","z":"da346aa7.1b9d18","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":440,"y":200,"wires":[["d7559a8c.803de"]]},{"id":"459794a4.f725ac","type":"comment","z":"da346aa7.1b9d18","name":"Send MSG","info":"","x":880,"y":200,"wires":[]},{"id":"60e5881f.4fc6b","type":"comment","z":"da346aa7.1b9d18","name":"semilimes connector","info":"","x":590,"y":80,"wires":[]},{"id":"ccb0a2b2.4b7b4","type":"inject","z":"da346aa7.1b9d18","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Send Location","payloadType":"str","x":440,"y":460,"wires":[["b286e907.08ea2"]]},{"id":"c18e66a7.3335d8","type":"comment","z":"da346aa7.1b9d18","name":"Send location Genova","info":"","x":920,"y":460,"wires":[]},{"id":"58aefd7b.97f0fc","type":"inject","z":"da346aa7.1b9d18","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":190,"y":520,"wires":[["82effa80.31453"]]},{"id":"dd49e321.886538","type":"comment","z":"da346aa7.1b9d18","name":"Send location Genova","info":"","x":920,"y":520,"wires":[]},{"id":"82effa80.31453","type":"function","z":"da346aa7.1b9d18","name":"send location Genova","func":"msg.payload = {\n \"Location\": {\"latitude\":44.409791,\"longitude\":8.918694},\n \"Body\" : \"Send Location JSON\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":520,"wires":[["f3470b69.b18828"]]},{"id":"11432eb3.56fe59","type":"inject","z":"da346aa7.1b9d18","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":190,"y":580,"wires":[["12afb55b.5ad583"]]},{"id":"a94725c5.ef87c8","type":"comment","z":"da346aa7.1b9d18","name":"Send location VIetnam","info":"","x":920,"y":580,"wires":[]},{"id":"12afb55b.5ad583","type":"function","z":"da346aa7.1b9d18","name":"send location Ho Chi Minh","func":"msg.payload = {\n \"Location\": {\"latitude\":10.753484623471962,\"longitude\":106.66112190403923},\n \"Body\" : \"Send Location JSON - Vietnam\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":580,"wires":[["504be070.e6809"]]},{"id":"e3cd660f.f38d1","type":"comment","z":"da346aa7.1b9d18","name":"Send HTML","info":"","x":890,"y":660,"wires":[]},{"id":"8f5440c5.14f89","type":"comment","z":"da346aa7.1b9d18","name":"Date Picker","info":"","x":890,"y":740,"wires":[]},{"id":"70a1e10b.84545","type":"comment","z":"da346aa7.1b9d18","name":"Time Picker","info":"","x":890,"y":820,"wires":[]},{"id":"692901c.7ae0c","type":"comment","z":"da346aa7.1b9d18","name":"Location Picker","info":"","x":900,"y":900,"wires":[]},{"id":"5a476765.845738","type":"comment","z":"da346aa7.1b9d18","name":"select","info":"","x":870,"y":380,"wires":[]},{"id":"a4c40121.7ed4d8","type":"function","z":"da346aa7.1b9d18","name":"send selection buttons","func":"msg.payload = {\n \"Body\": \"Select Node - JSON No Options\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":380,"wires":[["55a9b779.9ef508"]]},{"id":"a3ecb545.5bfeb8","type":"inject","z":"da346aa7.1b9d18","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":160,"y":380,"wires":[["a4c40121.7ed4d8"]]},{"id":"af0da06e.451e78","type":"inject","z":"da346aa7.1b9d18","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":170,"y":320,"wires":[["3e2ddca0.4b1d6c"]]},{"id":"3e2ddca0.4b1d6c","type":"function","z":"da346aa7.1b9d18","name":"send selection buttons","func":"msg.payload = {\n \"Body\": \"Select Node With JSON\",\n \"Options\": [\n {\"Text\": \"choise 1\", \"Value\": \"1\"},\n {\"Text\": \"choise 2\", \"Value\": \"2\"},\n {\"Text\": \"choise 3\", \"Value\": \"3\"}\n ]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":320,"wires":[["d90be0c0.dc4e1"]]},{"id":"6a65e4da.2f94cc","type":"comment","z":"da346aa7.1b9d18","name":"select","info":"","x":870,"y":260,"wires":[]},{"id":"f2ec1772.f24fd","type":"inject","z":"da346aa7.1b9d18","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Select Node Name","payloadType":"str","x":350,"y":260,"wires":[["5db26f0.043fe1"]]},{"id":"ced03589.962228","type":"comment","z":"da346aa7.1b9d18","name":"Send JSON","info":"","x":890,"y":140,"wires":[]},{"id":"c7533b7f.af796","type":"inject","z":"da346aa7.1b9d18","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":190,"y":140,"wires":[["b5704e2b.49e3d8"]]},{"id":"b5704e2b.49e3d8","type":"function","z":"da346aa7.1b9d18","name":"send HTML ","func":"msg.payload = {\n \"AuthToken\": \"xxxxxxxx\",\n \"ConversationID\": \"xxxxxxx\",\n \"Type\": \"chat\",\n \"TypeID\": \"38199F47-504C-4C73-97E5-8076C8CFAA21\",\n \"Body\" : \"<html> \\\n <body> \\\n <h1>My First Heading</h1> \\\n <p>My first paragraph.</p> \\\n </body> \\\n </html>\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":140,"wires":[["5ab3b4a2.9bac3c"]]},{"id":"3291dc6b.627f24","type":"inject","z":"da346aa7.1b9d18","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":230,"y":660,"wires":[["ea1e80e8.06394"]]},{"id":"ea1e80e8.06394","type":"function","z":"da346aa7.1b9d18","name":"send HTML","func":"msg.payload = {\n \"Body\" : \"<html> \\\n <body> \\\n <h1>My First Heading</h1> \\\n <h2>My Second Heading</h2> \\\n <p>My first paragraph.</p> \\\n </body> \\\n </html>\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":660,"wires":[["32eed95d.a01906"]]},{"id":"ed9a0a7e.1bb6c8","type":"inject","z":"da346aa7.1b9d18","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Pick a Location","payloadType":"str","x":360,"y":900,"wires":[["61d26e2f.92a3a8"]]},{"id":"74404589.2459d4","type":"inject","z":"da346aa7.1b9d18","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Pick a Time","payloadType":"str","x":350,"y":820,"wires":[["dcbfab90.84c888"]]},{"id":"c60dd78e.12fc","type":"inject","z":"da346aa7.1b9d18","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Pick a Date","payloadType":"str","x":350,"y":740,"wires":[["a08d9c73.eb3368"]]},{"id":"7f13aaa1.d51fc4","type":"debug","z":"da346aa7.1b9d18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":1120,"wires":[]},{"id":"90b79c82.4f1658","type":"function","z":"da346aa7.1b9d18","name":"Lamp 1","func":"var output;\nif(msg.payload.FormTitle == \"Lamp 1\" && msg.payload.Body == \"On\") output = {payload:1};\nif(msg.payload.FormTitle == \"Lamp 1\" && msg.payload.Body == \"Off\") output = {payload:0};\nreturn output;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":1120,"wires":[["7f13aaa1.d51fc4"]]},{"id":"eef62f9.f969dd","type":"switch","z":"da346aa7.1b9d18","name":"Lamp 1","property":"payload.FormTitle","propertyType":"msg","rules":[{"t":"eq","v":"Lamp 1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":660,"y":1200,"wires":[["1e1b9d0a.1c7063"]]},{"id":"1e1b9d0a.1c7063","type":"switch","z":"da346aa7.1b9d18","name":"","property":"payload.Body","propertyType":"msg","rules":[{"t":"eq","v":"On","vt":"str"},{"t":"eq","v":"Off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":1200,"wires":[["6217d1c0.ddd32"],["a8e94937.a60248"]]},{"id":"6217d1c0.ddd32","type":"debug","z":"da346aa7.1b9d18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":1160,"wires":[]},{"id":"a8e94937.a60248","type":"debug","z":"da346aa7.1b9d18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":1240,"wires":[]},{"id":"e6145952.27d1b8","type":"debug","z":"da346aa7.1b9d18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":1020,"wires":[]},{"id":"af874c08.3dd7a","type":"switch","z":"da346aa7.1b9d18","name":"Set Home Temperature","property":"payload.FormTitle","propertyType":"msg","rules":[{"t":"eq","v":"Set Home Temperature","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":1300,"wires":[["bda6af4c.6c2c8"]]},{"id":"d1789e24.eec68","type":"debug","z":"da346aa7.1b9d18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":1300,"wires":[]},{"id":"bda6af4c.6c2c8","type":"change","z":"da346aa7.1b9d18","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Body","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":1300,"wires":[["d1789e24.eec68"]]},{"id":"5395032c.d892ac","type":"Receive msg","z":"da346aa7.1b9d18","name":"Receive msg from Channel 1","rxfilter":"","server":"dc399f13.20275","client":"","x":240,"y":1120,"wires":[["742589ea.6375f","e6145952.27d1b8"]]},{"id":"5ab3b4a2.9bac3c","type":"Send JSON","z":"da346aa7.1b9d18","name":"Send JSON","token":"","receiver":"","server":"dc399f13.20275","x":690,"y":140,"wires":[]},{"id":"d7559a8c.803de","type":"Send msg","z":"da346aa7.1b9d18","name":"Send msg","token":"","destination":"1","receiver":"","server":"dc399f13.20275","x":690,"y":200,"wires":[]},{"id":"55a9b779.9ef508","type":"Select","z":"da346aa7.1b9d18","name":"Option Select","token":"","destination":"0","receiver":"","choice1":"choise1","choice2":"choise2","choice3":"choise3","choice4":"choise4","choice5":"choise5","choice6":"choise6","server":"dc399f13.20275","x":680,"y":380,"wires":[]},{"id":"d90be0c0.dc4e1","type":"Select","z":"da346aa7.1b9d18","name":"Option Select","token":"","destination":"0","receiver":"","choice1":"choise1","choice2":"choise2","choice3":"choise3","choice4":"choise4","choice5":"choise5","choice6":"choise6","server":"dc399f13.20275","x":680,"y":320,"wires":[]},{"id":"5db26f0.043fe1","type":"Select","z":"da346aa7.1b9d18","name":"Option Select","token":"","destination":"0","receiver":"","choice1":"choise1","choice2":"choise2","choice3":"choise3","choice4":"choise4","choice5":"choise5","choice6":"choise6","server":"dc399f13.20275","x":680,"y":260,"wires":[]},{"id":"f3470b69.b18828","type":"Send Location","z":"da346aa7.1b9d18","name":"Send Location","token":"","destination":"0","receiver":"","latitude":"","longitude":"","server":"dc399f13.20275","x":680,"y":520,"wires":[]},{"id":"504be070.e6809","type":"Send Location","z":"da346aa7.1b9d18","name":"Send Location","token":"","destination":"0","receiver":"","latitude":"","longitude":"","server":"dc399f13.20275","x":680,"y":580,"wires":[]},{"id":"b286e907.08ea2","type":"Send Location","z":"da346aa7.1b9d18","name":"Send Location","token":"","destination":"0","receiver":"","latitude":"44.409791","longitude":"8.918694","server":"dc399f13.20275","x":680,"y":460,"wires":[]},{"id":"32eed95d.a01906","type":"Send HTML","z":"da346aa7.1b9d18","name":"Send HTML","token":"","destination":"0","receiver":"","server":"dc399f13.20275","x":670,"y":660,"wires":[]},{"id":"a08d9c73.eb3368","type":"Receive Date","z":"da346aa7.1b9d18","name":"Receive Date","token":"","destination":"0","receiver":"","server":"dc399f13.20275","x":680,"y":740,"wires":[]},{"id":"dcbfab90.84c888","type":"Receive Time","z":"da346aa7.1b9d18","name":"Receive Time","token":"","destination":"0","receiver":"","server":"dc399f13.20275","x":680,"y":820,"wires":[]},{"id":"61d26e2f.92a3a8","type":"Receive Location","z":"da346aa7.1b9d18","name":"Receive Location","token":"","destination":"0","receiver":"","server":"dc399f13.20275","x":690,"y":900,"wires":[]},{"id":"7843807b.c752b","type":"debug","z":"da346aa7.1b9d18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":1400,"wires":[]},{"id":"3394d461.5e81ec","type":"Receive msg","z":"da346aa7.1b9d18","name":"Receive msg from Channel 2","rxfilter":"","server":"dc399f13.20275","client":"","x":260,"y":1400,"wires":[["7843807b.c752b"]]},{"id":"dc399f13.20275","type":"semilimes-listener","path":"wss://cloud.semilimes.net/CloudServer/wsclient","wholemsg":"false"}]